  <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col m4">
              <h4>Icanux</h4>
              Comunidad de software libre
            </div>
            <div class="col m4">
              <h4>Redes  Sociales</h4>
              <div><a href="">
                <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></div>
                <div>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>twitter</a></div>
              </div>
              <div class="col m4">
                <img src="https://icanux.org/static/img/HELMI1.png" class="logo-footer" alt="" style="width: 130px;margin-top: 0">
              </div>

              <div class="ed-item m-100 l-100">
               <p> Desarrollado por Elmer Ramos Loayza</p>
              </div>
          </div>
          </div>
  </footer>
