h1,h2{
  font-weight: bold;
}

.ed-item p  a{
  color: rgb(255, 255, 255);
  font-weight: bolder;
}


.ed-item p  .ref{
  color: rgba(0, 0, 0, 0.582);
  font-weight: bolder;
}


p a{
  color:rgba(0, 0, 0, 0.582);
}

hr{
  color: orangered;
}
